PORT=3001
DATABASE_URL=postgresql://postgres:Vertolet%4013@db.rvvyfvmqlixajvhpdvyg.supabase.co:5432/postgres
SUPABASE_URL=https://rvvyfvmqlixajvhpdvyg.supabase.co
SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2dnlmdm1xbGl4YWp2aHBkdnlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxOTY2MjUsImV4cCI6MjA5Mzc3MjYyNX0.45aSRVg7pXgTWkZl7Aoxk1JZlwEPbm_62vKec0sry2I
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2dnlmdm1xbGl4YWp2aHBkdnlnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODE5NjYyNSwiZXhwIjoyMDkzNzcyNjI1fQ.jHx-0anWMonHp4x_PNlkvJWKPm0zjw4omnSt0Ap7j2EI
